<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
<insert id="save" parameterType="member">
insert into member_table(memberEmail, memberPassword, memberName, memberUserName, memberMobile)
values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberUserName}, #{memberMobile})
</insert>
    <select id="emailDuplicateCheck" resultType="String" parameterType="member">
        select memberEmail from member_table where memberEmail = #{memberEmail}
    </select>
    <select id="userNameDuplicateCheck" resultType="String" parameterType="member">
        select memberUserName from member_table where memberUserName = #{memberUserName}
    </select>
    <select id="login" resultType="member" parameterType="member">
        select * from member_table where  memberUserName=#{memberUserName} and memberPassword = #{memberPassword}
    </select>
    <select id="myPageForm" resultType="member" parameterType="member">
        select*from member_table where memberUserName=#{memberUserName}
    </select>
<insert id="saveFileName" parameterType="member">
    insert into member_file_table(originalFileName_profile,storedFileName_profile,memberId) values(#{originalFileName_profile},#{storedFileName_profile},#{id})
</insert>
<select id="memberFindById" parameterType="Long" resultType="member">
    select*from member_table where id=#{id}
</select>
    <select id="memberFindByFile" resultType="member" parameterType="member">
        select*from member_table m, member_file_table mf where m.id = mf.memberId and m.id=#{id}
    </select>
    <update id="profileUpdate" parameterType="member">
        update member_table set memberProfile=#{memberProfile}, memberIntro=#{memberIntro} where id=#{id}
    </update>
</mapper>














